DBMS/databases/db/b.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="b"><xs:complexType><xs:sequence><xs:element name="table_details"/><xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="row_type"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="row_type"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="phone" type="xs:integer"/></xs:sequence></xs:complexType></xs:schema>