DBMS/databases/db/tb.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="tb"><xs:complexType><xs:sequence><xs:element name="table_details"/><xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="row_type"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="row_type"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="r1" type="xs:integer"/><xs:element maxOccurs="unbounded" minOccurs="0" name="r2" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="r3" type="xs:integer"/></xs:sequence></xs:complexType></xs:schema>